*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}


/* main-header */


.main-header{
    background-image: url(../img/main-img.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}
.switch-button{
    position: absolute;
    left: 45%;
    width: 60px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50px;
}
.switch-button-dark{
    border-color: #fff !important;
}
.moon{
    /* position: absolute;
    left: 50%; */
    position: absolute;
    left: 10%;
    bottom: 4%;
}
.sun{
    position: absolute;
    display: none;
    position: absolute;
    left: 60%;
}
.body-mod{
    background-color: #000 !important;
    color: #fff !important;
}
.main-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6)
}
.dda:active{
    background-color: rgb(64, 60, 60) !important; 
    color: #ffc107 !important;
}
/* brand animasyon */
/* #header-brand-mert{
    transform: translateX(-205px);
    animation-name: brand;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}
@keyframes brand {
    to{
        transform: translateX(0);
    }
    
} */

/* listeler animasyon */
/* #nav-list1{
    transform: translateX(290px);
    animation-name: list1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}
@keyframes list1 {
    to{
        transform: translateX(0);
    }
} */

/* #nav-list2{
   
    transform: translateX(200px);
    animation-name: list2;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}
@keyframes list2 {
    to{
        
        transform: translateX(0);
    }
} */

/* #nav-list3{
    transform: translateX(100px);
    animation-name: list3;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    
}
@keyframes list3 {
    to{
        transform: translateX(0);
    }
}

#nav-list4{
    transform: translateX(50px);
    animation-name: list4;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    
}
@keyframes list4 {
    to{
        transform: translateX(0);
    }
} */




.about-me .hakkimda {
    letter-spacing: 5px;
}

.about-me p{
    text-indent: 12px;
}

.about-me a {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: gray;
}

.about-me-mod{
    background-color: #212529  !important;
    color: #fff !important;
}


/* about-me/link-icon process */

.fa-envelope:hover,
.fa-envelope:active{
    color: #00B2FF;
}

.fa-instagram:hover,
.fa-instagram:active{
    color: #E1306C;
}

.fa-github:hover,
.fa-github:active{
    color: #833AB4;
}

.fa-linkedin:hover,
.fa-linkedin:active{
    color: #0e668c;
}

.fa-spotify:hover,
.fa-spotify:active{
    color: #1DB954;
}

.siparis .btn:hover{

    background-color: rgb(64, 60, 60);
    color: #ffc107;
}
.projects .btn:hover{

    background-color: rgb(64, 60, 60);
    color: #ffc107;
}

.projects .card{
    transition:.5s;
}
.projects .card:hover{
    transform: translateY(-50px);
}

