<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
        <%- include('../partials/admin-nav') %>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-12 mt3">
                    <div class="alert alert-secondary">
                        <p>
                            <b><%= category.name %> </b> İsimli kategoriyi silmek istediğinize emin misiniz?
                        </p>
                        <form method="post">
                            <input type="hidden" name="category" value="<%= category.categoryid %>">
                            <button class="btn btn-warning" type="submit">Sil</button>
                            <a href="/admin/delete-category" class="btn btn-primary">Vazgeç</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>