<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
        <%- include('../partials/nav') %>
        <div class="container mt-3">
                <form method="post">
                        <div class="row">
                                <div class="col-md-12 mt-3">
                                    <div class="row mb-3">
                                        <label for="urun" class="col-sm-2 col-form-label">Yemek</label>
                                        <div class="col-sm-8">
                                                <select name="urun" id="urun" class="form-select">
                                                        <option value="" selected>Seçiniz</option>
                                                        <% urun.forEach(urun => { %>
                                                                <option value="<%= urun.urunid %>"><%= urun.name %> </option>
                                                        <% }) %>
                                                </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        
                                    </div>
                                </div>
                        </div>
                        <div class="row mb-3">
                                <div class="col-sm--8 offset-sm-2">
                                        <button type="submit" class="btn btn-warning">Sil</button>
                                </div>
                        </div>
                </form>
                
        </div>
</body>
</html>