<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
        <%- include('../partials/nav') %>
        <div class="container mt-3">
                <form method="post">
                        <div class="row">
                                <div class="col-md-12 mt-3">
                                        <div class="row mb-3">
                                            <label for="kategori" class="col-sm-2 col-form-label">Kategori</label>
                                            <div class="col-sm-8">
                                                    <select name="kategori" id="kategori" class="form-select">
                                                            <option value="" selected>Seçiniz</option>
                                                            <% category.forEach(category => { %>
                                                                    <option value="<%= category.categoryid %>"><%= category.name %></option>
                                                            <% }) %>
                                                    </select>
                                            </div>
                                        </div>
                                </div>
                        </div>
                        <div class="row mb-3">
                                <div class="col-sm--8 offset-sm-2">
                                        <button type="submit" class="btn btn-warning">Sil</button>
                                </div>
                        </div>
                </form>
                
        </div>
</body>
</html>