@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@200;400;800&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,800;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif; 
}
.fonts {
    font-family: 'Charm', cursive;
    font-size: 55px;
}
#content{
    display: none;
    background: url(../image/space.png);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 100vh;
}
.loadingPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
}
.card{
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff !important;
}
.card-img {
    height: 150px; 
    width: 150px;  
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
    z-index: 1000;
}
/* TİMER */

#day, #hour, #min, #sec{
    color: blue;
}
.eventTime{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.timer{
    height: 70px;
    width: 100%;
    /* border: 2px solid #000; */
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timer .time{
    display: contents;
}
.timer .row .col-3{
    text-align: center;
    font-size: 40px;
}

.timer .row .timerText{
    font-size: 15px;
}
.timer .row span{
    color: #000;
    z-index: 1000;
}
.timer .timers{
    display: none;
}
.timer .timers h1{
    font-size: 40px;
    color: red;
}