@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-family: "Architects Daughter", sans-serif;
    font-size: 1.6rem;
    background: #fff;
    color: #333;
    line-height: 1.6;
}


/* back-button */
.back-button{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #243040;
    background-color: #F2F2F2;
    border-radius: 50px;  
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: .5s;
  }
  .back-button:hover{
    transform: scale(111%);
  }

/* logo */
.logo{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
ul{
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;
}

h1,h2{
    font-weight: 300;
    line-height: 1.2;
}

p{
    margin: 1rem 0;
}

img{
    width: 100%;
}
.text-center{
    text-align: center;
}


/* navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #343a40;
    opacity: 0.8;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 0 3rem;
}

.navbar h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar h1 span{
    margin-right: 5px;
}
.navbar a{
    color: #fff;
    padding: 1rem 2rem;
    margin: 0 0.5rem;
}
.navbar a{
    position: relative;
    display: inline-block;
}

.navbar a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #399cf9;
  transition: width 0.5s ease-in-out;
}
.navbar a:hover::after{
    width: 100%;
}
.navbar ul{
    display: flex;
}
.navbar .brand{
    font-weight: 400;
}
.navbar h1{
    font-size: 3rem;
}
.navbar span{
    color: #399cf9;
}


/* header */
.main-header{
    background-image: url('./img/car-1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    height: 100vh;
    color: #fff;
    position: relative;
}
.main-header .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.main-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.main-header *{
    z-index: 5;
}
.main-header .content h1{
    font-size: 5.5rem;
}
.main-header .content span{
    color: #399cf9;
}
.main-header .content p{
    font-size: 2.3rem;
    max-width: 60rem;
    margin: 2rem 0 3rem;
}


/* video */

.video{
    margin:30px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* gallery */
.gallery img{
    border-radius: 10px;
}
.gallery img{
    filter: grayscale(100%);
    transition:.5s;
}
.gallery img:hover{
    cursor: pointer;
    filter: none;
}


/* about */
.about{
    color: #000;
}
#about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.about h2{
    font-size: 4rem;
    font-weight: 400;
}
.about p{
    margin: 2rem 0;
}

/* contact */
#map{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #333;
    outline: 5px solid gray;
    padding: 20px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #343a40;
}

#contact h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 40px;
}
.contact-form{
    width: 100%;
    padding: 2rem 0;
    margin-bottom: 30px;
}
.contact-form label{
    display: block;
    margin-bottom: .5rem;
}
.contact-form .form-control{
    margin-bottom: 1.5rem;
}
.contact-form input{
    width: 100%;
    padding: 0.5rem;
    height: 40px;
    outline: none;
    border: none;
}
.gender{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form button{
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #399cf9;
    width: 100%;
    color: #fff;
    font-size: 20px;
}
.contact-form button:hover{
    background-color: #007bff;
}
.contact h2{
    font-size: 4rem;
}



/* footer */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    text-align: center;
    height: 100px;
}
.footer a{
    color: #d6ba00;
}
.footer a:hover{
    opacity: 0.7;
}
.footer .social a{
    margin-right: 40px;
}

.footer p{
    margin-top: 30px;
    color:#399cf9 ;
}




/* buton */
.btn{
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    opacity: 0.9;
}
.btn-primary{
    color: #fff;
    background-color: #007bff;
}
.btn-white{
    color: #343a40;
    background-color: #fff;
}
.btn-outline{
    color: var(--dark);
    background-color: #fff;

}

.flex-items{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.flex-items >div{
    padding: 20px;
    flex-basis: 100%;
}



/* flex columns */
.flex-columns .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.flex-columns .column{
    margin-top: 30px;
    flex: 1;
}
.flex-columns .column-1, .flex-columns .column-2{
    height: 100%;
}
.flex-columns .column-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem;
}
.flex-columns.flex-reverse .row{
    flex-direction: row-reverse;
}
.flex-columns video{
    width: 100%;
    height: 100%;
}



/* flex grid */
.flex-grid .row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 .4rem;
}
.flex-grid .column{
    flex: 25%;
    padding: 0 .4rem;
}


/* section */
.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
}
.section-header h2{
    font-size: 4rem;
    margin: 2rem 0;
}
.section-padding{
    padding: 2rem 2rem 4rem;
}



/* mobile */

@media(max-width: 768px){
    html{
        font-size: 8px;
    }
    .navbar{
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }
    .navbar a{
        padding: 10px;
        margin: 0 3px;
    }
    .teams img{
        width: 70%;
    }
    .flex-items{
        flex-direction: column;
    }
    .flex-items>div{
        padding: 10px;
    }
    .flex-columns .column{
        flex:100%
    }
    .flex-grid .column{
        flex: 50%;
    }
}
