<nav class="navbar navbar-expand-lg bg-warning">
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a href="/" class="nav-link">MENÜ CAFE</a>
        </li>
        <li class="nav-item">
            <a href="/admin/create/category" class="nav-link">Kategori Ekle</a>
        </li>
        <li class="nav-item">
            <a href="/admin/create/eat" class="nav-link">Yemek Ekle</a>
        </li>
        <li class="nav-item">
            <a href="/admin/delete/category" class="nav-link">Kategori Sil</a>
        </li>
        <li class="nav-item">
            <a href="/admin/delete/eat" class="nav-link">Yemek Sil</a>
        </li>
        <li class="nav-item">
            <a href="/admin/update/eat" class="nav-link">Yemek Güncelle</a>
        </li>
    </ul>
</nav>