@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Manrope:wght@400;600&family=Sora:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FCFCFD;
}

ul a{
    text-decoration: none;
    color: #344054;
}


.two{
    position: absolute;
    bottom: 0;
}


.brand2{
    position: absolute;
    top: 51px;
    left: 33px;
}

.brand3{
    position: absolute;
    top: 56px;
    left: 42px;
}

.mail{
    font-weight: 400;
}

ul{
    list-style-type: none !important;
    padding: 15px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}

ul h6{
    width: 115.98px;
    height: 18.9px;
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    display: inline;
    position: absolute;
    top: 30px;
    left: 90px;
}

span{
    margin-left: 10px;
    margin-top: 5px;
}

ul input{
    /* Base/White */

    background: #FFFFFF;
    /* Gray/300 */

    border: 1px solid #D0D5DD;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    gap: 8px;

    width: 231px;
    height: 44px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    font-family: monrope;
}


li{
    margin-top: 30px;
}


/* coming-soon buton */
.coming-soon{
    background-color: #BAEF58;
    border-radius: 6px;
    padding: 12px;
    color: #101828; 
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}


/* sol navbar */
.left-nav{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 280px;
    height: 1205px;
    left: 0px;
    top: 0px;

    /* Base/White */

    background: #FFFFFF;
    /* Gray/200 */

    border-right: 1px solid #EAECF0;
}

.img{
    height: 40px;
    width: 40px;
    border-radius: 200px;
    background-image: url(./profile.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.users{
    display: flex;
    justify-content:space-between;
}

.users p{
    margin-left: 15px;
}

.roadmap{
    box-sizing: border-box;
    position: absolute;
    width: 1112px;
    height: 1478px;
    left: 304px;
    top: 23px;
    background: #FFFFFF;
    border: 1px solid #EAECF0;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 12px;
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.head h6{
    color: #7BB60E;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

/* içerik */
.icerik h2{
    margin-bottom: 15px;
}

.icerik{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
/* yuvarlak */
.yuvarlakL{
    display: flex;
    align-items:start;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 8px #BAEF58 solid;
    background-color: #F2F2F2;
    border-radius: 50px;
    font-size:50px;
    font-weight: bold;
    font-family: 'Sora', sans-serif;
}

/* içerik1 */
.i1{
    position: absolute;
    top: 190px;
    left: 130px;
}

/* yuvarlak1 */
.y1{
    position: absolute;
    top: 220px;
    left: 430px;
}

/* içerik2 */
.i2{
    position: absolute;
    top: 430px;
    right: 160px;
}
/* yuvarlak2 */
.y2{
    position: absolute;
    top: 450px;
    right: 60px;
}

/* içerik3 */
.i3{
    position: absolute;
    top: 660px;
    left: 130px;
}

/* yuvarlak3 */
.y3{
    position: absolute;
    top: 670px;
    left: 430px;
}

/* içerik4 */
.i4{
    position: absolute;
    top: 870px;
    right: 160px;
}

/* yuvarlak4 */
.y4{
    position: absolute;
    top: 890px;
    right: 50px;
}

/* içerik5 */
.i5{
    position: absolute;
    top: 1100px;
    left: 130px;
}

/* yuvarlak5 */
.y5{
    position: absolute;
    top: 1110px;
    left: 430px;
}


.col-6{
    display: flex;
    align-items: center;
}
.cizgi{
    height: 0px;
    width: 65px;
    border: 1px solid #A6DE3E;
}
.nokta{
    height: 15px;
    width: 15px;
    background-color: #BAEF58;
    border-radius: 50px;
    z-index: 22;
}

/* arrow-1 */
.arrow1{
position: absolute;
top: 190px;
right: 493px;
}

/* arrow-2 */
.arrow-left1{
position: absolute;
top: 430px;
left: 510px;
}

/* arrow-3 */
.arrow2{
    position: absolute;
    top: 640px;
    right: 493px;
}

/* .arrow-4 */
.arrow-left2{
    position: absolute;
    top: 870px;
    left: 520px;
}

/* arrow-5 */
.arrow3{
    position: absolute;
    top: 1080px;
    right: 493px;
}